body {
    font-family: 'Lexend', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend', sans-serif;
}

:root {
    --primary-color: #8FBFE0;
    --dark-navy: #1A2B3C;
}

.header-gradient {
    background: linear-gradient(to right, var(--dark-navy) 0%, var(--primary-color) 100%);
}

.fixed-header {
    position: sticky;
    top: 0;
    z-index: 50;
}

/* 3D Flip Card */
.perspective {
    perspective: 1000px;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}